.picture {
  width: 100px;
  height: 100px;
  border-radius: 30px;
  border: 10px solid red;
}

.picture:first-child{
        margin-left: 0;
}

.content{
        background-color: violet;
        padding: 20px;
}

